* {
  padding: 0;
  margin: 0; }

body {
  font-size: 16px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif; }

a {
  text-decoration: none; }

.main-text {
  color: #fabd00;
  font-size: 16px;
  font-weight: 300; }

.decorline {
  height: 93px;
  width: 100%;
  background: url(../images/ornament.png) repeat-x #fabd00; }

.main__wrap {
  background-color: black;
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: all 2s ease-in-out; }

.main {
  width: 1000px;
  margin: auto;
  position: relative; }

.navpanel {
  width: 100%;
  margin-bottom: 35px; }

li.nav {
  margin: 0 10px 0 10px;
  display: inline;
  letter-spacing: 5px; }

a.nav {
  border-bottom: 1px solid rgba(250, 189, 0, 0.3);
  text-transform: uppercase;
  line-height: 80px; }
  a.nav:hover {
    color: #019561;
    border-bottom: 1px solid rgba(1, 149, 97, 0.3); }

.drummer {
  display: inline-block;
  position: relative;
  left: 0;
  bottom: 0;
  vertical-align: top; }

.about {
  display: inline-block;
  width: 450px;
  position: relative;
  left: 70px;
  top: 55px; }

.logo {
  width: 193px;
  height: 250px;
  margin: 0 0 0 80px;
  background: url(../images/main-logo.png) no-repeat; }

.about-text {
  padding: 30px 0 50px 0; }
  .about-text h3 {
    display: block;
    padding: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 200; }
  .about-text p {
    line-height: 26px;
    font-weight: 200; }

.media__wrap {
  background-color: #fabd00;
  padding: 35px 0 35px 0;
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: all 2s ease-in-out; }

.media {
  width: 1000px;
  margin: auto;
  position: relative;
  text-align: center; }

.gallery {
  margin: auto; }

.title {
  font-size: 24px;
  font-weight: 200;
  padding: 35px 0 15px 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 7px; }

.title-other {
  color: white;
  font-weight: 100; }

.contacts__wrap {
  background-color: black;
  padding: 35px 0 35px 0; }

.contacts {
  width: 1000px;
  margin: auto;
  position: relative;
  text-align: center; }

.row {
  display: inline-block;
  width: 46%;
  vertical-align: top; }

.contacts__item {
  padding: 0 0 35px 0; }

.community__link {
  border-bottom: 1px solid rgba(250, 189, 0, 0.3); }
  .community__link:hover {
    color: #019561;
    border-bottom: 1px solid rgba(1, 149, 97, 0.3); }

.phone {
  font-weight: 100;
  text-transform: uppercase;
  display: block;
  letter-spacing: 5px;
  margin: 0 0 .5em 0; }

.social .social-likes__widget {
  padding: 0 0 0.5em 0; }
  .social .social-likes__widget span {
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(250, 189, 0, 0.3);
    letter-spacing: 5px; }
    .social .social-likes__widget span:hover {
      color: #019561;
      border-bottom: 1px solid rgba(1, 149, 97, 0.3);
      cursor: pointer; }

#map {
  margin: 35px 0 0 0; }

.fotorama__wrap {
  margin: auto;
  padding: 0 0 35px 0; }
